<nav class="navbar navbar-placematch">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main_navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a [router-link]="['/Home']" class="pull-left">  <img src="/images/logo.png"></a>
      <p class="nav navbar-text white"><em>Personalised suburb recommendations</em></p>
    </div>
  </div>
</nav>

<section class="container-fluid">
  <router-outlet></router-outlet>
</section>
<footer class="footer"><div class="container"><p class="">&nbsp;</p></div></footer>
